* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: 0;}
hr {
    height: 2px;
    background-color: black;

}
div.parent{
    display: flex;
}
div.box1{
    background-color: #F2F2F2;
}
div.box1_1{
    margin: 25px;
}
div.box2{
    padding: 3px;
    flex: 1;
    background-color: whitesmoke;
}
div.box2_1{
    margin: 25px;
}
div.title {
    padding-top: 5px;    
    font-style: bold;
    margin: 6px;
}
div.a2 {
display: flex;
}
div.a {
    padding-top: 10px;
    padding-left: 45px;
    text-align: center;
    background-color: #585858;
    color: aliceblue;
    display: flex;
    padding-bottom: 10px;
}
div.a1 {
    font-size: 20px;
    margin: 0 auto;
    text-align: right;
    align-items: right;
}
div.emphasized { 
    font-style: italic; 
}
.graycolor {
    color: gray;
}
p{
    padding-top: 5px;
}
li{
    padding-top: 5px;
}
img{
    border-radius: 50%;
}